div.container

    h1= t( 'main.title' )

    table.table
        caption= t('main.table.caption')
        thead
            tr
                th= t('main.table.locale')
                th= t('main.table.value')
                th= t('main.table.phrase')
        tbody
        - datetime  = new Date()
        - each locale in [ 'en-US', 'ru-RU' ]
            tr
                td= locale
                td= datetime.toString()
                td!= t( 'main.examples.datetime_md', { datetime: l10n.datetime( datetime, 'time.long', {}, locale ) }, locale )
            - each i in [ 0, 1, 2, 5, 7, 10, 11, 21 ]
                tr
                    td= locale
                    td= i
                    td!= t( 'main.examples.nails_md', { count: i }, locale )

    p
        a( href='https://github.com/regru/babelfish-demo' )= t( 'main.forkme' )
