div.container

    h1= t('main.title')

    p!= t('main.intro_md')

    table.table
        caption= t('main.table.caption')
        - datetime  = new Date()
        - locales = [ 'en-US', 'ru-RU' ]
        thead
            tr
                th= t('main.table.value')
                - each locale in locales
                    th= t('main.table.locale', { locale: locale })
        tbody
            tr
                td= datetime.toString()
                - each locale in locales
                    td!= t( 'main.examples.datetime_md', { datetime: l10n.datetime( datetime, 'time.long', {}, locale ) }, locale )
            - each i in [ 0, 1, 2, 5, 7, 10, 11, 21, 22, 25 ]
                tr
                    td= i
                    - each locale in locales
                        td!= t( 'main.examples.nails_md', { count: i }, locale )

    p
        a( href='https://github.com/regru/babelfish-demo' )= t( 'main.forkme' )
