div.container

    h1= t( 'main.title' )

    table.table
        caption Nails example
        thead
            tr
                th Language
                th Count
                th Phrase
        tbody
        - languages = [ 'en-US', 'ru-RU' ]
        - datetime  = new Date()
        - each lang in languages
            tr
                td= lang
                td= datetime.toString()
                td!= l10n.t( lang, 'main.examples.datetime_md', { datetime: l10n.datetime( datetime, 'time.long', {}, lang ) } )
            - for (var i = 0; i < 10; i++)
                tr
                    td= lang
                    td= i
                    td!= l10n.t( lang, 'main.examples.nails_md', { count: i } )
