div.container

    h1= t( 'main.title' )

    table.table
        caption Nails example
        thead
            tr
                th Language
                th Value
                th Phrase
        tbody
        - datetime  = new Date()
        - each lang in [ 'en-US', 'ru-RU' ]
            tr
                td= lang
                td= datetime.toString()
                td!= l10n.t( lang, 'main.examples.datetime_md', { datetime: l10n.datetime( datetime, 'time.long', {}, lang ) } )
            - each i in [ 0, 1, 2, 5, 7, 10, 11, 21 ]
                tr
                    td= lang
                    td= i
                    td!= l10n.t( lang, 'main.examples.nails_md', { count: i } )
